/*
Font color - #e3b261
Background - #1A1A1A 
*/

body {
  font-family: "Lato", sans-serif;
  color: #EEB34B;
}

.nav-logo,
.navbar-brand {
  width: 25vh;
  height: auto;
  margin-left: auto;
  margin-right: auto;

}

.bg-faded {
  background-color: rgba(0, 0, 0, 0.61);
  z-index: 1;
  box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.35);
}

.banner_image {
  inset: 0;
  background-size: cover;
  width: auto !important;
  overflow: hidden !important;
  position: fixed;
  filter: blur(4px);
  z-index: -1;
}

.mt-20 {
  margin-top: 12rem !important;
}

.mt-sm-20 {
  margin-top: 12rem !important;
}

.mt-md-20 {
  margin-top: 12rem !important;
}

.mt-lg-20 {
  margin-top: 12rem !important;
}

.mt-xl-20 {
  margin-top: 12rem !important;
}

.mt-xxl-20 {
  margin-top: 12rem !important;
}

.mb-20 {
  margin-bottom: 12rem !important;
}

.recipes-header {
  font-family: "Lato",
    sans-serif;
  font-size: xx-large;
  font-weight: 800;
  background-color: #343a40af;
  border-radius: 15px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

.card-body,
.card {
  border: #EEB34B 2px solid;
  padding: 0px !important;
  
}

.five-padding {
  padding: 5px !important;
}

.button {

  background-color: #EEB34B !important;
  border-color: white;
}

.button:hover {
  background-color: #d19733 !important;
  border-color: rgb(146, 146, 146);
}

/* .item {
  max-height: 365px;
} */