/*
Light grayish orange - #F8EFEA
Soft yellow - #DED369
Soft red - #E0475B
Very dark green - #192F01
*/

body {
  background-color: #f8efea;
  font-family: "Lato", sans-serif;
  color: white;
}

.nav-logo {
  width: 25vh;
  height: auto;
}

.bg-faded {
  background-color: #f8efea35;
}

.banner_image {
  width: 100%;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  z-index: -100;
}

.overlay_fade {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: -99;
}
